/* ==========================================================================
   custom CSS
   ========================================================================== */
.sidebar {
	.author__name { font-weight: 400; font-size: 0.85em; }
}
a {
  color: #3c3e4c;
  &:visited {
    color:  #464646;
  }
}

.sidebar p, .sidebar li {  font-size: .65em;  line-height: 1.4;}
.page__title {  line-height: 1.3; font-size: 1.2em;}
.archive__item a {  text-decoration: none;}
.greedy-nav .visible-links a:before { height: 1px;}
.greedy-nav a.site-logo { display:none; }
.page__title { font-family: 'Noto Sans KR', 'Apple SD Gothic Neo','맑은 고딕';}
.page__content p, .page__content li { font-size: 0.9em;  line-height: 1.7;}
.profile-list h3 {  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo','맑은 고딕'; }
.profile-list a.out-link {
	text-decoration: none; border-bottom: 1px dotted #555;
	&:hover {
		border-bottom: 1px solid #555;
	}
}
.profile-list .list-type { margin-top: 5em; }
.profile-list .list-type > div {margin: 2em 0;}
.profile-list .list-type > div h3 { font-family: 'Noto Sans KR', 'Apple SD Gothic Neo','맑은 고딕';margin: 0.5em 0; font-size: 0.9em;  padding-left: 1em;  border-left: 2px dotted #a9a9a9;}
.profile-list .list-type > div > ul { margin: 0.5em 0;  padding: 0; padding-left: 1.5em; }
.profile-list .list-type > div > ul li {  margin: 1em 0; list-style: none; font-size: 1em;}
.profile-list .list-type > div > ul li p { margin: 0; }
.profile-list .list-type > div > ul li p b { }
.profile-list .list-type > div > ul li p.date {  font-size: 0.8em; opacity: 0.6;}
.profile-list .list-type > div > ul li p .eng {  font-size: 0.8em; opacity: 0.8; padding-left: 0.4em;}
.profile-list .list-type > div > ul li p .block { display: block; }
.profile-list .list-type > div > ul li p .car-type { font-size: 0.8em; opacity: 0.6; padding-left: 0.8em;}

.profile-list .spec-graph { margin: 1.5em 0; }
.profile-list .spec-graph img { display:block; max-width: 600px; }

.profile-list .list-type .skill-list { margin: 0.5em 0; padding: 0; padding-left: 1.5em;}
.profile-list .list-type .description {}
.profile-list .list-type .description p { font-size: 0.85em; margin: 1em 0; line-height: 1.6; margin: 0.3em 0;}
.profile-list .list-type .skill-list h4 { font-family: 'Noto Sans KR', 'Apple SD Gothic Neo','맑은 고딕';}
.profile-list .list-type .skill-list ul { margin: 0.5em 0;  padding: 0; padding-left: 1em; }
.profile-list .list-type .skill-list ul li { margin: 0.2em 0; font-size: 0.8em; line-height:1.7; list-style-type: square; }

.profile-list .list-type .awards-list {margin: 0.5em 0; padding: 0; padding-left: 1.5em;}
.profile-list .list-type .awards-list h4 {font-family: 'Noto Sans KR', 'Apple SD Gothic Neo','맑은 고딕';}
.profile-list .list-type .awards-list ul { margin: 0.5em 0;  padding: 0; padding-left: 1em;}
.profile-list .list-type .awards-list ul li { margin: 0.2em 0; font-size: 0.8em; line-height:1.7; list-style-type: square;}
.profile-list .list-type .awards-list ul li .year {font-size: 0.8em; opacity: 0.6; padding: 0 0.3em;}
.profile-list .list-type .awards-list ul li .from {font-size: 0.8em; opacity: 0.8; padding: 0 0.3em;}

.page__content h3 { font-size: 0.95em;  letter-spacing: -0.03em; font-weight: 900;}
.page__content p { line-height: 1.7;  letter-spacing: -0.015em;font-size: 0.8em;}
.page__content span.sm { font-size: 0.8em; opacity:0.7;  color: #61646b;}
.page__content li { line-height: 1.7;  letter-spacing: -0.015em;font-size: 0.8em; }

.archive__item-title { font-size: 1em; }


.portfolio-area {
     width: 100%;margin-top: 1em;

	.port-type-list { width: 100%; transform: translateX(30px);}
	.slider { width: 100%; width:900px; position: relative;display: block;box-sizing:border-box; margin: 0; margin-bottom: 2em; }
	.slider-header {margin-bottom: 0.5em;}
	.slider-title { color:#272a32; font-size: 1em; margin-bottom: 0;  }
	.slider-title span.eg { font-size: 0.7em;letter-spacing: 0em;color:#838387; margin-left: 10px; }
	.slider-wrapper { position: relative; width: 900px; overflow: hidden; margin: 0 auto; }
	.slider-body { width: 100%;  width: 900px;  overflow: hidden; }
	.slider-body ul {
		width: 1200px; list-style:none;position: relative;margin: 0; padding: 0; left:0;
		&::after { clear: both; content:""; display:block; }
	}
	.slider-body ul li { 
		display: inline-block; float: left; width: 300px; cursor: pointer; 
		&:hover> div > div> .item-title { text-decoration: underline; }
		&:hover> div > div> .item-thumb { box-shadow: 3px 3px 10px rgba(78, 78, 78, 0.2); border: 1px solid #6b6b6b; transform: scale(1); }
		&.block { pointer-events: none; opacity:0.4; }
	}
	.each-item-wrap { box-sizing: border-box; padding: 0 0.5em; width: 100%; }
	.slider-item { 
		position: relative; 
		.item-thumb { border-radius: 3px; overflow: hidden; border: 1px solid transparent;  transition:all 0.2s ease 0s;  margin-bottom: 0.5em; transform: scale(0.97);}
		.item-thumb > img { }
		.item-title { color:#272a32;  font-size: 0.8em;font-weight: bold; margin-bottom: 0; }
		.date {  color:#272a32;  font-size: 0.7em; opacity:0.5; position: absolute; bottom: 0; right: 0; }
	}
	.arrow {
		background: rgba(255,255,255,0.6); box-sizing: border-box; padding: 5px; z-index: 2;
		img { display: block; }
		&:hover > img { opacity:1; }
	}
	.arrow img { width:100%; opacity:0.6;  }
	.prev { position: absolute; top: 50%; margin-top: -15px; left: -30px; cursor: pointer;width: 25px; margin-top: -15px; }
	.next { position: absolute; top: 50%; margin-top: -15px; right: -30px; cursor: pointer;width: 25px; margin-top: -15px;}
}

.port-v-wrap {
	.port-v {
		width:100%; 
		.item-category {color: #272a32; font-size: 0.8em; margin-bottom: 0.2em;color: #7a8288;}
		.item-title { font-size: 1.5em; font-weight: bold; line-height: 1; margin: 0; margin-bottom: 0.5em; padding-bottom: 0.5em; border-bottom: 1px solid #dcdcdc;}
		.desc-list {
			.desc {
				margin: 1em 0;
				p { margin: 0; margin-bottom: 0.5em;font-size: 0.8em;}
			}
			.desc-text-kr {font-size: 1em;}
			.desc-text-eng { font-size: 0.85em; color: #899196;}
			.desc-tb { 
				margin: 1.5em 0; padding-left: 1em;border-left: 4px solid #6f777d;
				p { 
					margin: 0;  margin-bottom: 0.2em;font-size: 0.7em;
					.th { margin-right: 20px;  color: #6f777d; }
				}
				.url a { text-decoration:underline; }
			}
			.tag {
				span {display: inline-block;padding: 2px 8px; border:1px solid #7d8286; border-radius: 4px;font-size: 0.8em; color: #53595e; margin: 0px 2px;}
			}
		}
		.screenshot-list {
			margin: 2em 0; 
			.img-holder {
				margin: 0.5em 0;
				border-radius: 4px; overflow:hidden; 
				width: 100%;
				max-width: 800px;
				img {width: 100%;}
			}	
		}
	}

	.port-reco {
		max-width: 800px; 
		.head {  font-size: 0.9em; margin-top: 50px; color: #4d4d4d;font-weight: bold; text-align:center;}
		ul {
			list-style:none;position: relative;margin: 0; padding: 0; left:0;
			li{
				width: 48%;box-sizing: border-box; margin: 0 1%; display: inline-block; float: left;cursor: pointer;
				.each-reco-item{
					background: #262a2d;  box-shadow: 5px 5px 8px rgba(0,0,0,0.05); border-radius: 3px;
					.item-thumb {
						img {width:100%;}
					}
					.item-text {
						width:100%; box-sizing: border-box; padding: 10px; color:#fff; 
						p{margin:0;}
						.item-category { font-size:0.9em; opacity: 0.85;line-height: 1;}
						.item-title {  font-size: 1em; font-weight: bold; line-height: 1.4; height: 3em; margin-top: 0.4em;  margin-bottom: 0.4em; }
						.date { font-size:0.75em; opacity: 0.5; }
					}
					
				}
			}
			&::after { clear: both; content:""; display:block; }
		}
	}
	.go-list {
		margin-bottom: 1em;
		p { 
			font-size: 0.75em;  font-weight: bold;cursor: pointer; position: relative; left:0;transition:all 0.2s ease 0s;
			&:hover { left:-10px;}
		}
	
	}
}




/***** 모바일 Portraits ****/
@media screen and (max-width: 800px) {
.profile-list .list-type>div h3 { font-size: 1.1em; }
.profile-list .list-type>div>ul { padding-left: 0.8em; }
.profile-list .list-type>div>ul li { font-size: 0.9em; }
.profile-list .list-type>div>ul li p { font-size: 1em; }
.profile-list .list-type .skill-list { padding-left: 0.5em; }
.profile-list .list-type .awards-list { padding-left: 0.5em; }
.profile-list .spec-graph { margin: 1em 0; }
.profile-list .spec-graph img { width: 100%; }
.profile-list .list-type .description p { font-size: 0.9em;}

.page__content p { font-size: 0.9em;}
.page__content ul, .page__content ol { padding-left: 1.5em; }
.page__content ul li, .page__content ol li { font-size: 0.9em; margin-bottom: 0.2em; }
.page__content h3 { font-size: 1.1em; }
.page__content h4 { font-size: 1em; }
.page__content span.sm { line-height: 1.5em;  display: block;margin-top: 0.5em;}

.port-v { width:100%; box-sizing: border-box; overflow-x: hidden; }
.port-v-wrap .port-v .item-title {font-size: 1.3em; line-height:1.3em;}
.port-v-wrap .go-list p:hover { left:0;}
.port-v-wrap .port-v .desc-list {
	.desc-tb .url a { display: inline;  word-break: break-word;}
	.desc p { font-size: 0.9em;}
	.tag span { margin: 2px; }
}

.portfolio-area {
	.port-type-list{ transform: none; }
	.slider { width:100%;box-sizing: border-box; padding: 0px 20px;}
	.slider-wrapper { width:100%;}
	.slider-body { width:100%;
		ul li{ width: 250px;}
	}
	.slider-item .item-title {  box-sizing: border-box; padding: 0 10px;}
	.prev { left:-10px;}
	.next { right:-10px; }
	.each-item-wrap { padding:0;}
}




}

/****** 모바일 Landscape *****/
@media (max-width: 800px) and (orientation: landscape){


}
